In [1]:
# 07-OCT-2021
#pandas
# data is in tabular format
# it loads data from csv or excel file
# pandas works on top of numpy , numpy is a primary library
# it is a library of numbers and dataframes
# types of data structures- 
## 1) series - 1D- 1 column(homogeneous data, size is immutable,values are mutable )
## 2) DataFrames-2D- more than one column-(Series come together to create dataFrames / collection of series),heterogeneous data,size & data is mutable
## 3) panel - 3D (heterogeneous data, size and data is mutable)

In [2]:
# importing the liabrary
# if not imported you need to install pandas
# !pip install pandas
import pandas as pd

In [3]:
# convert list into Series
data=[40,30,35,45,50]
index=[3,5,6,8,9]
pds=pd.Series(data,index,dtype=float)
print(pds)
print(type(pds))

3    40.0
5    30.0
6    35.0
8    45.0
9    50.0
dtype: float64
<class 'pandas.core.series.Series'>

In [4]:
print(type(data))
print(type(index))

<class 'list'>
<class 'list'>

In [5]:
# creating empty series
a=pd.Series(dtype=int)
print(a)

Series([], dtype: int32)

In [6]:
# creating Series from numpy array
import numpy as np
data=np.array([10,20,30,40])
s=pd.Series(data)
print(s)

0    10
1    20
2    30
3    40
dtype: int32

In [7]:
# index
index=pd.Series([5j,6j,7j]) # homogeneous data explanation
print(index)

0    5j
1    6j
2    7j
dtype: complex128

In [8]:
a=pd.Series(np.array([1,2,3]))
print(a)

0    1
1    2
2    3
dtype: int32

In [9]:
# create Series from numpy array
d=np.array(['a','b','c','d',6,5,4])
r=pd.Series(d,index=[100,101,102,103,104,105,106])
print(r)
print(r.size)

100    a
101    b
102    c
103    d
104    6
105    5
106    4
dtype: object
7

In [10]:
# for loop
y = 100
for i in r:
    print(r[y])
    y = y + 1
    print(r)

a
100    a
101    b
102    c
103    d
104    6
105    5
106    4
dtype: object
b
100    a
101    b
102    c
103    d
104    6
105    5
106    4
dtype: object
c
100    a
101    b
102    c
103    d
104    6
105    5
106    4
dtype: object
d
100    a
101    b
102    c
103    d
104    6
105    5
106    4
dtype: object
6
100    a
101    b
102    c
103    d
104    6
105    5
106    4
dtype: object
5
100    a
101    b
102    c
103    d
104    6
105    5
106    4
dtype: object
4
100    a
101    b
102    c
103    d
104    6
105    5
106    4
dtype: object

In [11]:
y=100
for i in r:
    print(r[y])
    y=y+1
print(r)

a
b
c
d
6
5
4
100    a
101    b
102    c
103    d
104    6
105    5
106    4
dtype: object

In [12]:
# creating series from dictionary(dict)
dict_={1:'one',2:'two',3:'three',4:'four'}
e=pd.Series(dict_)
print(e)

1      one
2      two
3    three
4     four
dtype: object

In [13]:
d={'name':['deep','nikhil','karan'],
   'marks':[70,75,80],
   'city':['pune','mumbai','delhi']
  }

print(d)

{'name': ['deep', 'nikhil', 'karan'], 'marks': [70, 75, 80], 'city': ['pune', 'mumbai', 'delhi']}

In [14]:
u=pd.Series(d)
print(u)

name     [deep, nikhil, karan]
marks             [70, 75, 80]
city     [pune, mumbai, delhi]
dtype: object

In [15]:
print(u.shape)
print(u.size)
print(u.ndim)

(3,)
3
1

In [16]:
# creating a dataframe
a=pd.DataFrame([4,5,6,7,8])
print(a.ndim)
a

2

   0
0  4
1  5
2  6
3  7
4  8

In [17]:
# creating dataframe using list
a=['python','java']
info=pd.DataFrame(a)
info

        0
0  python
1    java

In [18]:
b=pd.DataFrame(d)
b

     name  marks    city
0    deep     70    pune
1  nikhil     75  mumbai
2   karan     80   delhi

In [19]:
u

name     [deep, nikhil, karan]
marks             [70, 75, 80]
city     [pune, mumbai, delhi]
dtype: object

In [20]:
# creating series from dictionary(dict)
dict_={1:'one',2:'two',3:'three',4:'four'}
e=pd.Series(dict_)
print(e)

1      one
2      two
3    three
4     four
dtype: object

In [21]:
# create dataframe using above series
x=pd.DataFrame(e)
x

       0
1    one
2    two
3  three
4   four

In [22]:
# creating csv file
b.to_csv('details_pd.csv')

In [23]:
b.to_csv('details_pd_new.csv',index=False)

In [24]:
# Q- why series is homogenious even it store mixed data types values
#Ans- when we store all int element in series it shows int datatype
# if we add one float number then it show series datatype is float 
# and if we add one string in series then it shows series datatype is object
# means it shows same datatype for whole series
# thats why series is homogenious 
# example
import pandas as pd
s=pd.Series(data=[10,20,30,40])
print(s)
s1=pd.Series(data=[10,20,30,40,50.5])
print(s1)
s2=pd.Series(data=[10,20,30,40,50.5,'A'])
print(s2)

0    10
1    20
2    30
3    40
dtype: int64
0    10.0
1    20.0
2    30.0
3    40.0
4    50.5
dtype: float64
0      10
1      20
2      30
3      40
4    50.5
5       A
dtype: object

In [25]:
df=pd.DataFrame(s2)
print(df)
print(type(df))
df.dtypes

      0
0    10
1    20
2    30
3    40
4  50.5
5     A
<class 'pandas.core.frame.DataFrame'>

0    object
dtype: object

In [27]:
df=pd.read_csv('details_pd.csv')
df

   Unnamed: 0    name  marks    city
0           0    deep     70    pune
1           1  nikhil     75  mumbai
2           2   karan     80   delhi